[submodule "code-code-contracts"]
	path = code-code-contracts
	url = https://github.com/code-2-code/code-code-contracts.git
[submodule "code-code-platform"]
	path = code-code-platform
	url = https://github.com/code-2-code/code-code-platform.git
[submodule "code-code-console"]
	path = code-code-console
	url = https://github.com/code-2-code/code-code-console.git
[submodule "code-code-deploy"]
	path = code-code-deploy
	url = https://github.com/code-2-code/code-code-deploy.git
[submodule "code-code-platform-profile"]
	path = code-code-platform-profile
	url = https://github.com/code-2-code/code-code-platform-profile.git
[submodule "code-code-platform-notifications"]
	path = code-code-platform-notifications
	url = https://github.com/code-2-code/code-code-platform-notifications.git
[submodule "code-code-platform-catalog"]
	path = code-code-platform-catalog
	url = https://github.com/code-2-code/code-code-platform-catalog.git
[submodule "code-code-platform-auth-network"]
	path = code-code-platform-auth-network
	url = https://github.com/code-2-code/code-code-platform-auth-network.git
[submodule "code-code-platform-provider"]
	path = code-code-platform-provider
	url = https://github.com/code-2-code/code-code-platform-provider
[submodule "code-code-platform-agent-runtime"]
	path = code-code-platform-agent-runtime
	url = https://github.com/code-2-code/code-code-platform-agent-runtime
[submodule "code-code-platform-session"]
	path = code-code-platform-session
	url = https://github.com/code-2-code/code-code-platform-session
[submodule "code-code-console-api"]
	path = code-code-console-api
	url = https://github.com/code-2-code/code-code-console-api
[submodule "code-code-console-web"]
	path = code-code-console-web
	url = https://github.com/code-2-code/code-code-console-web
[submodule "code-code-showcase-api"]
	path = code-code-showcase-api
	url = https://github.com/code-2-code/code-code-showcase-api
